@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap");
* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
  border: none;
  transition: .2s linear;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 7rem;
}
html::-webkit-scrollbar {
  width: 1rem;
}
html::-webkit-scrollbar-track {
  background: transparent;
}
html::-webkit-scrollbar-thumb {
  background: #f5bf23;
}

section {
  padding: 5rem 10%;
}

.heading {
  margin-bottom: 3rem;
  font-size: 3rem;
  color: #111;
  text-transform: capitalize;
  padding-left: 1rem;
  border-left: 1rem solid #f5bf23;
}

.btn {
  display: inline-block;
  margin-top: 1rem;
  padding: 1rem 3rem;
  background: #111;
  color: #fff;
  cursor: pointer;
  font-size: 1.7rem;
  text-transform: capitalize;
}
.btn:hover {
  background: #f5bf23;
  color: #111;
}

@keyframes fadeIn {
  0% {
    top: 50%;
    opacity: 0;
  }
}
.header {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  padding: 1.5rem 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
  background: #fff;
}
.header .logo {
  font-size: 2.5rem;
  color: #111;
  text-transform: capitalize;
}
.header .logo span {
  color: #f5bf23;
}
.header .navbar a {
  font-size: 2rem;
  color: #111;
  text-transform: capitalize;
  margin: 0 1rem;
}
.header .navbar a:hover {
  color: #f5bf23;
}
.header .icons div {
  height: 5rem;
  width: 5rem;
  line-height: 5rem;
  font-size: 2rem;
  background: #eee;
  color: #111;
  cursor: pointer;
  text-align: center;
}
.header .icons div:hover {
  background: #111;
  color: #fff;
}
.header #menu-btn {
  display: none;
}
.header .search-form {
  position: absolute;
  top: 120%;
  left: 50%;
  transform: translateX(-50%);
  width: 70rem;
  background: #fff;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  padding: 1rem;
  display: none;
  align-items: center;
  gap: 1rem;
  animation: fadeIn .2s linear;
}
.header .search-form.active {
  display: flex;
}
.header .search-form input {
  width: 100%;
  padding: 1.2rem 1.4rem;
  background: #eee;
  font-size: 1.6rem;
  color: #666;
}
.header .search-form label {
  font-size: 2.5rem;
  color: #111;
  cursor: pointer;
  margin: 0 1rem;
}
.header .search-form label:hover {
  color: #f5bf23;
}
.header .login-form {
  position: absolute;
  top: 120%;
  left: 50%;
  transform: translateX(-50%);
  width: 40rem;
  background: #fff;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  padding: 2rem;
  text-align: center;
  animation: fadeIn .2s linear;
  display: none;
}
.header .login-form.active {
  display: block;
}
.header .login-form h3 {
  font-size: 3rem;
  color: #111;
  text-transform: capitalize;
  text-transform: uppercase;
  padding-bottom: 1rem;
}
.header .login-form .box {
  width: 100%;
  padding: 1.2rem 1.4rem;
  background: #eee;
  font-size: 1.6rem;
  color: #666;
  margin: 0.7rem 0;
}
.header .login-form .flex {
  display: flex;
  align-items: center;
  gap: .5rem;
  padding: 1rem 0;
}
.header .login-form .flex label {
  font-size: 1.5rem;
  color: #666;
  cursor: pointer;
}
.header .login-form .flex a {
  font-size: 1.5rem;
  color: #666;
  margin-left: auto;
}
.header .login-form .flex a:hover {
  color: #f5bf23;
  text-decoration: underline;
}
.header .login-form .btn {
  width: 100%;
}
.header .login-form p {
  font-size: 1.5rem;
  color: #666;
  text-transform: capitalize;
  line-height: 1.5;
  padding-top: 1.2rem;
}
.header .login-form p a {
  color: #f5bf23;
}
.header .login-form p a:hover {
  text-decoration: underline;
}

.contact-info {
  position: fixed;
  top: 0;
  right: 0;
  width: 35rem;
  background: #fff;
  height: 100%;
  text-align: center;
  z-index: 1100;
  padding: 0 2rem;
  padding-top: 5rem;
  display: none;
}
.contact-info.active {
  box-shadow: 0 0 0 100vw rgba(0, 0, 0, 0.6);
  display: block;
}
.contact-info #close-contact-info {
  position: absolute;
  top: 1rem;
  right: 1.5rem;
  cursor: pointer;
  font-size: 5rem;
  color: #111;
}
.contact-info #close-contact-info:hover {
  transform: rotate(90deg);
}
.contact-info .info {
  padding: 2rem 0;
}
.contact-info .info i {
  height: 5rem;
  width: 5rem;
  line-height: 5rem;
  font-size: 2rem;
  background: #eee;
  color: #111;
  cursor: pointer;
  text-align: center;
  margin-bottom: 0.5rem;
}
.contact-info .info i:hover {
  background: #111;
  color: #fff;
}
.contact-info .info h3 {
  font-size: 2rem;
  color: #111;
  text-transform: capitalize;
  padding: 1rem 0;
}
.contact-info .info p {
  font-size: 1.5rem;
  color: #666;
  text-transform: capitalize;
  line-height: 1.5;
}
.contact-info .share {
  padding-top: 2rem;
  border-top: 0.1rem solid rgba(0, 0, 0, 0.3);
  margin-top: 1rem;
}
.contact-info .share a {
  height: 5rem;
  width: 5rem;
  line-height: 5rem;
  font-size: 2rem;
  background: #eee;
  color: #111;
  cursor: pointer;
  text-align: center;
  margin: 0 .3rem;
}
.contact-info .share a:hover {
  background: #111;
  color: #fff;
}

.home {
  padding: 0;
}
.home .slide {
  min-height: 64rem;
  display: flex;
  align-items: center;
  position: relative;
  background-size: cover !important;
  background-position: center !important;
}
.home .slide::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(90deg, #fff, transparent);
}
.home .slide .content {
  width: 50rem;
  position: relative;
}
.home .slide .content h3 {
  font-size: 6rem;
  color: #111;
  text-transform: capitalize;
  text-transform: uppercase;
}
.home .slide .content p {
  font-size: 1.5rem;
  color: #666;
  text-transform: capitalize;
  line-height: 1.5;
  padding: 1rem 0;
}
.home .swiper-button-next,
.home .swiper-button-prev {
  top: initial;
  bottom: 0;
  left: initial;
  right: 0;
  width: 7rem;
  height: 7rem;
  line-height: 7rem;
  background: #fff;
}
.home .swiper-button-next:hover,
.home .swiper-button-prev:hover {
  background: #f5bf23;
}
.home .swiper-button-next::after,
.home .swiper-button-prev::after {
  font-size: 2rem;
  color: #111;
}
.home .swiper-button-prev {
  right: 7rem;
}

.about .row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 3rem;
}
.about .row .video {
  flex: 1 1 41rem;
}
.about .row .video video {
  width: 100%;
}
.about .row .content {
  flex: 1 1 41rem;
}
.about .row .content h3 {
  font-size: 3.5rem;
  color: #111;
  text-transform: capitalize;
}
.about .row .content p {
  font-size: 1.5rem;
  color: #666;
  text-transform: capitalize;
  line-height: 1.5;
  padding: 1rem 0;
}
.about .box-container {
  margin-top: 3rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
  gap: 2rem;
}
.about .box-container .box {
  text-align: center;
  background: #eee;
  padding: 3rem 2rem;
}
.about .box-container .box h3 {
  font-size: 4rem;
  color: #111;
  text-transform: capitalize;
}
.about .box-container .box p {
  font-size: 1.5rem;
  color: #666;
  text-transform: capitalize;
  line-height: 1.5;
  padding-top: 1.5rem;
}

.services {
  background: #eee;
}
.services .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 2rem;
}
.services .box-container .box {
  text-align: center;
  padding: 3rem;
  background: #fff;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  border: 0.1rem solid rgba(0, 0, 0, 0.3);
}
.services .box-container .box:hover img {
  transform: translateY(-1rem);
  transition: .2s linear;
}
.services .box-container .box img {
  height: 7rem;
  margin-bottom: 0.5rem;
}
.services .box-container .box h3 {
  font-size: 1.7rem;
  color: #111;
  text-transform: capitalize;
  padding: 1rem 0;
}
.services .box-container .box p {
  font-size: 1.5rem;
  color: #666;
  text-transform: capitalize;
  line-height: 1.5;
}

.projects {
  background: #111;
}
.projects .heading {
  color: #fff;
}
.projects .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 2rem;
}
.projects .box-container .box {
  cursor: initial;
}
.projects .box-container .box:hover .image img {
  transform: scale(1.1);
}
.projects .box-container .box .image {
  height: 40rem;
  overflow: hidden;
}
.projects .box-container .box .image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.projects .box-container .box .content {
  display: flex;
  gap: .5rem;
  background: #fff;
  justify-content: space-between;
}
.projects .box-container .box .content .info {
  padding: 1rem 2rem;
}
.projects .box-container .box .content .info h3 {
  font-size: 1.7rem;
  color: #111;
  text-transform: capitalize;
}
.projects .box-container .box .content .info p {
  font-size: 1.5rem;
  color: #666;
  text-transform: capitalize;
  line-height: 1.5;
}
.projects .box-container .box .content i {
  width: 7.5rem;
  font-size: 3rem;
  background: #f5bf23;
  color: #fff;
  cursor: pointer;
  text-align: center;
  line-height: 7.5rem;
}

.reviews .slide p {
  padding: 1.5rem;
  background: #eee;
  position: relative;
  margin-bottom: 3rem;
  font-size: 1.5rem;
  color: #666;
  text-transform: capitalize;
  line-height: 1.5;
}
.reviews .slide p::before {
  content: '';
  position: absolute;
  bottom: -1rem;
  left: 2rem;
  height: 2rem;
  width: 2rem;
  background: #eee;
  transform: rotate(45deg);
}
.reviews .slide .user {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}
.reviews .slide .user img {
  height: 7rem;
  width: 7rem;
}
.reviews .slide .user h3 {
  font-size: 2rem;
  color: #111;
  text-transform: capitalize;
}
.reviews .slide .user .stars {
  padding-top: .5rem;
}
.reviews .slide .user .stars i {
  font-size: 1.4rem;
  color: #f5bf23;
}

.pricing {
  background: #eee;
}
.pricing .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 2rem;
}
.pricing .box-container .box {
  background: #fff;
  text-align: center;
  padding: 2rem;
  border: 0.1rem solid rgba(0, 0, 0, 0.3);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}
.pricing .box-container .box i {
  font-size: 3rem;
  height: 7rem;
  width: 7rem;
  line-height: 7rem;
  border-radius: 50%;
  margin-bottom: 2rem;
  background: #f5bf23;
  color: #111;
}
.pricing .box-container .box h3 {
  font-size: 2rem;
  color: #111;
  text-transform: capitalize;
  font-weight: normal;
}
.pricing .box-container .box .price {
  padding: 1rem 0;
  font-size: 5rem;
  color: #111;
  text-transform: capitalize;
}
.pricing .box-container .box .price span {
  font-size: 2rem;
}
.pricing .box-container .box .list {
  padding: 1rem 0;
}
.pricing .box-container .box .list p {
  padding: 1rem 0;
  font-size: 1.4rem;
  color: #666;
  text-transform: capitalize;
  line-height: 1.5;
}

.contact {
  background: #111;
}
.contact .heading {
  color: #fff;
}
.contact .row {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}
.contact .row .map {
  flex: 1 1 41rem;
  width: 100%;
}
.contact .row form {
  flex: 1 1 41rem;
  background: #fff;
  padding: 2rem;
}
.contact .row form h3 {
  font-size: 2.5rem;
  color: #111;
  text-transform: capitalize;
}
.contact .row form .box {
  margin: 0.7rem 0;
  width: 100%;
  padding: 1.5rem 0;
  border-bottom: 0.1rem solid rgba(0, 0, 0, 0.3);
  font-size: 1.6rem;
  color: #666;
}
.contact .row form .box:focus {
  border-color: #f5bf23;
}
.contact .row form textarea {
  height: 15rem;
  resize: none;
}

.blogs {
  background: #eee;
}
.blogs .slide {
  text-align: center;
}
.blogs .slide:hover .image img {
  transform: scale(1.1);
}
.blogs .slide .image {
  height: 25rem;
  width: 90%;
  overflow: hidden;
  margin: 0 auto;
  margin-bottom: -3rem;
}
.blogs .slide .image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: .2s linear;
}
.blogs .slide .content {
  padding: 2rem;
  padding-top: 4rem;
  background: #fff;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}
.blogs .slide .content h3 {
  font-size: 2rem;
  color: #111;
  text-transform: capitalize;
}
.blogs .slide .content p {
  padding: 1rem 0;
  font-size: 1.4rem;
  color: #666;
  text-transform: capitalize;
  line-height: 1.5;
}

.logo-container {
  text-align: center;
}
.logo-container img {
  height: 10rem;
  pointer-events: none;
  user-select: none;
}

.footer {
  text-align: center;
}
.footer .links .btn {
  margin: 0.5rem;
}
.footer .credit {
  font-size: 2rem;
  color: #111;
  text-transform: capitalize;
  margin-top: 2rem;
  padding-top: 1rem;
}
.footer .credit span {
  color: #f5bf23;
}

@media (max-width: 1200px) {
  .header {
    padding: 1.5rem 2rem;
  }

  section {
    padding: 3rem 5%;
  }
}
@media (max-width: 991px) {
  html {
    font-size: 55%;
  }

  section {
    padding: 3rem 2rem;
  }

  .header #menu-btn {
    display: inline-block;
  }
  .header .navbar {
    position: absolute;
    top: 99%;
    left: 0;
    right: 0;
    background: #fff;
    border-top: 0.1rem solid rgba(0, 0, 0, 0.3);
    border-bottom: 0.1rem solid rgba(0, 0, 0, 0.3);
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }
  .header .navbar.active {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
  .header .navbar a {
    display: block;
    margin: 3rem;
  }
}
@media (max-width: 768px) {
  .header .search-form {
    width: 80%;
  }
  .header .login-form {
    width: 80%;
  }

  .home .slide {
    justify-content: center;
  }
  .home .slide .content {
    text-align: center;
  }
  .home .slide .content h3 {
    font-size: 3rem;
  }
}
@media (max-width: 480px) {
  html {
    font-size: 50%;
  }

  .icons div {
    margin: 0 .3rem;
  }

  .home .slide {
    background-position: right !important;
    	min-height:91vh;
  }
}
